extends ../layout

block content
  h2.page-header 添加文章
  != messages()

  if errors && errors.length
    .errors
      each error in errors
        p.alert.alert-danger=error.msg

  form.vertical-form(method="post", action=action)
    button.btn.btn-info(type="submit" style="margin-bottom: 10px; width: 160px;") 保 存
    //- button.btn.btn-success(type="submit" style="margin-bottom: 10px; width: 160px;") 发 布
    .form-group
      label(for="title" style="font-size:18px;color:#555555") 标题
      input.form-control(name="title", required="true", placeholder="请输入标题..." value=post.title)

    .form-group
      label(for="category" style="font-size:18px;color:#555555") 分类
      select.form-control(name="category", required="true")
        option(value="") -选择分类-
        each category in categories
          option(value=category._id, selected=(category._id.toString() === post.category._id.toString()))= category.name
    
    .form-group
      label(for="published" style="font-size:18px;color:#555555;margin-right:10px;") 是否发布
      if post.published
        label.radio-inline
          input(type="radio", name="published", value="true", style="width:16px;height:16px", checked) 
          span(style="font-size:16px") 是
        label.radio-inline
          input(type="radio", name="published", value="false", style="width:16px;height:16px")
          span(style="font-size:16px") 否
      else
        label.radio-inline
          input(type="radio", name="published", value="true", style="width:16px;height:16px") 
          span(style="font-size:16px") 是
        label.radio-inline
          input(type="radio", name="published", value="false", style="width:16px;height:16px", checked)
          span(style="font-size:16px") 否
    
    .form-group
      label(for="content" style="font-size:18px;color:#555555") 内容
      #my-editormd
        textarea#js-post-content.form-control(name="content", style="display:none;")= post.content

    button.btn.btn-info(type="submit" style="margin-bottom: 100px; width: 160px;") 保 存
    //- button.btn.btn-success(type="submit" style="margin-bottom: 100px; width: 160px;") 发 布

block scripts
  script(src="/components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/components/editor.md/editormd.min.js")
  script(src="/components/editor.md/lib/marked.min.js")
  script(src="/components/editor.md/lib/prettify.min.js")
  script(src="/components/editor.md/lib/raphael.min.js")
  script(src="/components/editor.md/lib/underscore.min.js")
  script(src="/components/editor.md/lib/sequence-diagram.min.js")
  script(src="/components/editor.md/lib/flowchart.min.js")
  script(src="/components/editor.md/lib/jquery.flowchart.min.js")
  script(src="/js/controller/editor.js")
  