extends ../layout

block content
  h2.page-header 文章列表
  != messages()
  form#form-post-filter.form.form-inline.form-filter(action="")
    .form-group
      label 分类
      select#js-category.form-control(name="category")
        option(value="", selected=(filter.category === "")) - 选择分类 -
        each category in categories
          option(value=category._id, selected=(category._id.toString() === filter.category))= category.name
    .form-group
      label 作者
      select#js-author.form-control(name="author")
        option(value="", selected=(filter.author === "")) - 选择分类 -
        each author in authors
          option(value=author._id, selected=(author._id.toString() === filter.author))= author.name
    button#js-filter-submit.btn.btn-info 筛选

  table.table.table-bordered
    thead
      tr
        th(width="30%")
          if sortby === 'title'
            if (sortdir === 'desc')
              a(href="/admin/posts/" + pageNum + "?sortby=title&sortdir=asc" + "&category=" + filter.category + "&author=" + filter.author) 标题
                i.fa.fa-arrow-down
            else
              a(href="/admin/posts/" + pageNum + "?sortby=title&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 标题
                i.fa.fa-arrow-up
          else
            a(href="/admin/posts/" + pageNum + "?sortby=title&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 标题
        th
          if sortby === 'category'
            if (sortdir === 'desc')
              a(href="/admin/posts/" + pageNum + "?sortby=category&sortdir=asc" + "&category=" + filter.category + "&author=" + filter.author) 分类
                i.fa.fa-arrow-down
            else
              a(href="/admin/posts/" + pageNum + "?sortby=category&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 分类
                i.fa.fa-arrow-up
          else
            a(href="/admin/posts/" + pageNum + "?sortby=category&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 分类
        th
          if sortby === 'author'
            if (sortdir === 'desc')
              a(href="/admin/posts/" + pageNum + "?sortby=author&sortdir=asc" + "&category=" + filter.category + "&author=" + filter.author) 作者
                i.fa.fa-arrow-down
            else
              a(href="/admin/posts/" + pageNum + "?sortby=author&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 作者
                i.fa.fa-arrow-up
          else
            a(href="/admin/posts/" + pageNum + "?sortby=author&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 作者
        th
          if sortby === 'created'
            if (sortdir === 'desc')
              a(href="/admin/posts/" + pageNum + "?sortby=created&sortdir=asc" + "&category=" + filter.category + "&author=" + filter.author) 添加时间
                i.fa.fa-arrow-down
            else
              a(href="/admin/posts/" + pageNum + "?sortby=created&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 添加时间
                i.fa.fa-arrow-up
          else
            a(href="/admin/posts/" + pageNum + "?sortby=created&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 添加时间
        th 
          if sortby === 'meta.favorite'
            if (sortdir === 'desc')
              a(href="/admin/posts/" + pageNum + "?sortby=meta.favorite&sortdir=asc" + "&category=" + filter.category + "&author=" + filter.author) 被赞
                i.fa.fa-arrow-down
            else
              a(href="/admin/posts/" + pageNum + "?sortby=meta.favorite&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 被赞
                i.fa.fa-arrow-up
          else
            a(href="/admin/posts/" + pageNum + "?sortby=meta.favorite&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 被赞
        th 
          if sortby === 'comments'
            if (sortdir === 'desc')
              a(href="/admin/posts/" + pageNum + "?sortby=comments&sortdir=asc" + "&category=" + filter.category + "&author=" + filter.author) 评论
                i.fa.fa-arrow-down
            else
              a(href="/admin/posts/" + pageNum + "?sortby=comments&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 评论
                i.fa.fa-arrow-up
          else
            a(href="/admin/posts/" + pageNum + "?sortby=comments&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 评论
        th 
          if sortby === 'published'
            if (sortdir === 'desc')
              a(href="/admin/posts/" + pageNum + "?sortby=published&sortdir=asc" + "&category=" + filter.category + "&author=" + filter.author) 状态
                i.fa.fa-arrow-down
            else
              a(href="/admin/posts/" + pageNum + "?sortby=published&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 状态
                i.fa.fa-arrow-up
          else
            a(href="/admin/posts/" + pageNum + "?sortby=published&sortdir=desc" + "&category=" + filter.category + "&author=" + filter.author) 状态
        th 管理
    tbody
    each post in posts
      tr
        td
          a(href="/posts/view/" + post._id + "?published=" + post.published, target="_blank")= post.title
        td= post.category.name
        td= post.author.email
        td= moment(post.created).format('YYYY-MM-DD HH:mm')
        if (post.meta.favorite>0 && post.meta.favorite<7)
          td.numCount(style="font-weight:bold;color:#66CD00")= post.meta.favorite
        else if (post.meta.favorite>=7 && post.meta.favorite<16)
          td.numCount(style="font-weight:bold;color:#4169E1")= post.meta.favorite
        else if (post.meta.favorite>=16 && post.meta.favorite<28)
          td.numCount(style="font-weight:bold;color:#EE33E9")= post.meta.favorite
        else if (post.meta.favorite>=28 && post.meta.favorite<50)
          td.numCount(style="font-weight:bold;color:#EE7600")= post.meta.favorite
        else if (post.meta.favorite>=50)
          td.numCount(style="font-weight:bold;color:#FF0000")= post.meta.favorite
        else
          td.numCount= 0
        if (post.comments.length>0)
          td.numCount(style="font-weight:bold")= post.comments.length
        else
          td.numCount= 0
        td= post.published ? '已发布' : '待发布'
        td
          if (!post.published)
            a(href="/admin/posts/published/" + post._id + "?page=" + pageNum + "&sortby=" + sortby + "&sortdir=" + sortdir + "&category=" + filter.category + "&author=" + filter.author, class="btn btn-sm btn-primary") 发布
            &nbsp;&nbsp;
          else
            button(class="btn btn-sm btn-default", disabled="disabled") 发布
            &nbsp;&nbsp;
          a(href="/posts/view/" + post._id + "?published=" + post.published, class="btn btn-sm btn-success", target="_blank") 查看
          &nbsp;&nbsp;
          a(href="/admin/posts/edit/" + post._id, class="btn btn-sm btn-info") 编辑
          &nbsp;&nbsp;
          a(href="/admin/posts/delete/" + post._id + "?page=" + pageNum + "&sortby=" + sortby + "&sortdir=" + sortdir + "&category=" + filter.category + "&author=" + filter.author, class="btn btn-sm btn-danger") 删除

  if pageCount > 1
    nav(aria-label="Page navigation")
      ul.pagination
        - var currentPage = 1;
        while currentPage <= pageCount
          if (currentPage === pageNum)
            li.active
              span
                span= currentPage++
          else
            li
              a(href="/admin/posts/" + currentPage + "?sortby=" + sortby + "&sortdir=" + sortdir + "&category=" + filter.category + "&author=" + filter.author)= currentPage++
