extends ../main

block content
  h2.page-header 分类列表
  != messages()

  table.table.table-bordered
    thead
      tr
        th 名称
        th(style="width:58px") 别名
        th(style="text-align:center;width:112px") 创建时间
        if (user.authority == "admin")
          th(style="text-align:center;width:186px") 管理
        else
          th(style="text-align:center;width:130px") 管理
    tbody
    each category in categories
      tr
        td(style="vertical-align:middle;")= category.name
        td(style="vertical-align:middle;")= category.slug
        td(style="vertical-align:middle;")= moment(category.created).format('YY-MM-DD HH:mm')
        td(style="vertical-align:middle;")
          a(style="margin-left:8px;", href="/category/" + category.slug, class="btn btn-sm btn-success", target="_blank") 查看
          if (user.authority == "admin")
            a(style="margin-left:8px;", href="/admin/categories/edit/" + category._id, class="btn btn-sm btn-info") 编辑
            a.deleteCategory(href="javascript:void(0)", style="margin-left:8px;", categoryid=category._id, url="/admin/categories/delete/" + category._id, class="btn btn-sm btn-danger") 删除
          else 
            if (user._id = category.author)
              a.deleteCategory(href="javascript:void(0)", style="margin-left:8px;", categoryid=category._id, url="/admin/categories/delete/" + category._id, class="btn btn-sm btn-danger") 删除
            else
              a(href="javascript:void(0)", style="margin-left:8px;", class="btn btn-sm btn-default") 删除
