extends layout

block content
  h1.postsby
    span 类别：
      =category.name
  for post, index in posts
    .post
      .post-info-meta
        .post-info
          span.post-author
            =post.author.nick
          span.post-created
            =moment(post.created).format('YYYY-MM-DD')
        .post-icons
          i.fa.fa-thumb-tack
      h3.post-title
        a(href="/category/view/" + post.slug, title="#{post.title}")
          =post.title
      .post-abstract
        a(href="/category/view/" + post.slug, title="#{post.title}")
          = truncate(post.content, 120)
      .post-meta
        -var isfavorite = isFavoUser[index]
        a.post-category(href="/category/" + post.category.slug)= post.category.name
        if isfavorite
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaIds[index], title="取消点赞")
            i.fa.fa-heart(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaIds[index])
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaIds[index])
              =post.meta.favorite
        else
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaIds[index], title="点赞")
            i.fa.fa-heart-o(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaIds[index])
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaIds[index])
              =post.meta.favorite
        a.post-comment(href="/posts/view/" + post.slug + "#commentAnchorPoint")
          if post.comments.length === 0
            | 无评论
          else
            span(style="font-size:16px;top:1.5px;position:relative;")=post.comments.length
            | &nbsp;评论
  else
    p 该分类还没有文章发布

  if (pageCount > 1 && pageCount <= 8)
    nav(aria-label="...")
      ul.pagination(style="width: 345px;")
        if (1 === pageNum)
          li.page-item.disabled
            span.page-link &laquo;
        else
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageNum-1))
              | &laquo;
        - var currentPage = 1;
        while currentPage <= pageCount
          if (currentPage === pageNum)
            li.page-item.active
              span.page-link= currentPage++
          else
            li.page-item
              a.page-link(href="/category/" + category.slug + "/" + currentPage)= currentPage++
        if (pageCount === pageNum)
          li.page-item.disabled
            span.page-link &raquo;
        else
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageNum+1))
              | &raquo;

  if (pageCount > 8)
    nav(aria-label="...")
      ul.pagination(style="width: 345px;")
        if (1 === pageNum)
          li.page-item.disabled
            span.page-link &laquo;
        else
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageNum-1))
              | &laquo;
        if (1 === pageNum)
          li.page-item.active
            span.page-link= 1
        else
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + 1)= 1
        if (1 === pageNum)
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 2)= 2
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 3)= 3
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 4)= 4
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 5)= 5
          li.page-item.disabled
            span.page-link ...
        if (2 === pageNum)
          li.page-item.active
            span.page-link= 2
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 3)= 3
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 4)= 4
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 5)= 5
          li.page-item.disabled
            span.page-link ...
        if (3 === pageNum)
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 2)= 2
          li.page-item.active
            span.page-link= 3
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 4)= 4
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 5)= 5
          li.page-item.disabled
            span.page-link ...
        if (4 === pageNum)
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 2)= 2
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 3)= 3
          li.page-item.active
            span.page-link= 4
          li.page-item
              a.page-link(href="/category/" + category.slug + "/" + 5)= 5
          li.page-item.disabled
            span.page-link ...
      
        if (pageNum > 4 && pageNum < pageCount-3)
          li.page-item.disabled
            span.page-link ...
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageNum-1))= pageNum-1
          li.page-item.active
            span.page-link= pageNum
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageNum+1))= pageNum+1
          li.page-item.disabled
            span.page-link ...
        if (pageCount-3 === pageNum)
          li.page-item.disabled
            span.page-link ...
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-4))= pageCount-4
          li.page-item.active
            span.page-link= pageCount-3
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-2))= pageCount-2
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-1))= pageCount-1
        if (pageCount-2 === pageNum)
          li.page-item.disabled
            span.page-link ...
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-4))= pageCount-4
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-3))= pageCount-3
          li.page-item.active
            span.page-link= pageCount-2
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-1))= pageCount-1
        if (pageCount-1 === pageNum)
          li.page-item.disabled
            span.page-link ...
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-4))= pageCount-4
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-3))= pageCount-3
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-2))= pageCount-2
          li.page-item.active
            span.page-link= pageCount-1
        if (pageCount === pageNum)
          li.page-item.disabled
            span.page-link ...
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-4))= pageCount-4
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-3))= pageCount-3
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-2))= pageCount-2
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageCount-1))= pageCount-1
        if (pageCount === pageNum)
          li.page-item.active
            span.page-link= pageCount
        else
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + pageCount)= pageCount
        if (pageCount === pageNum)
          li.page-item.disabled
            span.page-link &raquo;
        else
          li.page-item
            a.page-link(href="/category/" + category.slug + "/" + (pageNum+1))
              | &raquo;