extends layout

block content
  h1.postsby
    span 类别：
      =category.name
  for post, index in posts
    .post
      .post-info-meta
        .post-info
          span.post-author
            =post.author.nick
          span.post-created
            =moment(post.created).format('YYYY-MM-DD')
        .post-icons
          i.fa.fa-thumb-tack
      h3.post-title
        a(href="/category/view/" + post.slug, title="#{post.title}")
          =post.title
      .post-abstract
        = truncate(post.content, 80)
      .post-meta
        -var isfavorite = isFavoUser[index]
        a.post-category(href="/category/" + post.category.slug)= post.category.name
        if isfavorite
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaIds[index], title="取消点赞")
            i.fa.fa-heart(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaIds[index])
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaIds[index])
              =post.meta.favorite
        else
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaIds[index], title="点赞")
            i.fa.fa-heart-o(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaIds[index])
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaIds[index])
              =post.meta.favorite
        a.post-comment(href="/posts/view/" + post.slug + "#commentAnchorPoint")
          if post.comments.length === 0
            | 无评论
          else
            span(style="font-size:16px;top:1.5px;position:relative;")=post.comments.length
            | &nbsp;评论
  else
    p 该分类还没有文章发布

  if pageCount > 1
    nav(aria-label="Page navigation")
      ul.pagination
        if (1 === pageNum)
          li.disabled
            span
              span(aria-hidden="true") &laquo;
        else
          li
            a(href="/category/" + category.slug + "/" + (pageNum-1), aria-label="Previous")
              span(aria-hidden="true") &laquo;
        - var currentPage = 1;
        while currentPage <= pageCount
          if (currentPage === pageNum)
            li.active
              span
                span= currentPage++
          else
            li
              a(href="/category/" + category.slug + "/" + currentPage)= currentPage++
        if (pageCount === pageNum)
          li.disabled
            span
              span(aria-hidden="true") &raquo;
        else
          li
            a(href="/category/" + category.slug + "/" + (pageNum+1), aria-label="Next")
              span(aria-hidden="true") &raquo;