extends layout

block content
  h1.postsby
    span 联系我们
    .single_post
      != messages()
      form#contactform(action="/contact", method="post", enctype="application/x-www-form-urlencoded")
        if user
          p.comment-form-author
            input(id="author" type="text" name="author" placeholder="名称" value=user.name )
          p.comment-form-email
            input(id="email" type="text" name="email" placeholder="邮箱" value=user.name+"@lenovo.com" )
        else
          p.comment-form-author
            input(id="author" type="text" name="author" placeholder="名称" value=vmuser.name)
          p.comment-form-email
            input(id="email" type="text" name="email" placeholder="邮箱" value=vmuser.email)
        p.comment-form-comment
          textarea(id="comment" name="content" cols="45" rows="8" aria-required="true" placeholder="想说点什么...")= vmuser.content
        p.form-submit
          input(id="submit" type="submit" value="发布")
