extends layout

block content
  for post in posts
    .post
      .post-info-meta
        .post-info
          span.post-author
            =post.author.name
          span.post-created
            =moment(post.created).format('YYYY-MM-DD')
        .post-icons
          i.fa.fa-thumb-tack
      h3.post-title
        a(href="/posts/view/" + post.slug, title="#{post.title}")
          =post.title
      .post-abstract
        = truncate(post.content, 80)
      .post-meta
        a.post-category(href="/posts/category/" + post.category.slug)= post.category.name
        a.mts-like(href="javascript:void(0)" id=post._id postId=post.id favorite=post.meta.favorite)
          i.fa.fa-heart-o(postId=post.id favorite=post.meta.favorite)
          span.post-favourates(postId=post.id favorite=post.meta.favorite)
            =post.meta.favorite
        .post-comment
          if post.comments.length === 0
            | 无评论
          else
            =post.comments.length
            | &nbsp;评论
  else
    p 暂时还没有文章发布

  if pageCount > 1
    nav(aria-label="Page navigation")
      ul.pagination
        - var currentPage = 1;
        while currentPage <= pageCount
          if (currentPage === pageNum)
            li.active
              span
                span= currentPage++
          else
            li
              a(href="/posts/" + currentPage)= currentPage++