extends layout

block content
  if (isCategory)
    h1.postsby
      span 类别：
        =post.category.name
  .post
    .post-info-meta
      .post-info
        span.post-author
          =post.author.nick
        span.post-created
          =moment(post.created).format('YYYY-MM-DD')
      .post-icons
        i.fa.fa-thumb-tack
    h3.post-title
      =post.title
    .post-abstract#my-editormd-view
      textarea#append-text(style="display:none;")= post.content
    .post-meta
        a.post-category(href="/category/" + post.category.slug)= post.category.name
        if isFavoUser
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaId, title="取消点赞")
            i.fa.fa-heart(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaId)
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaId)
              =post.meta.favorite
        else
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaId, title="点赞")
            i.fa.fa-heart-o(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaId)
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaId)
              =post.meta.favorite
  nav(aria-label="Page navigation")
    ul.pager
      if (isCategory)
        li.previous
          if (prePost)
            a.haspost.prenex(href="/category/view/" + prePost.slug title="#{prePost.title}") 上一篇
          else
            a.nopost.prenex(href="#") 没有文章了
        li.next
          if (nextPost)
            a.haspost.prenex(href="/category/view/" + nextPost.slug title="#{nextPost.title}") 下一篇
          else
            a.nopost.prenex(href="#") 没有文章了
      else
        li.previous
          if (prePost)
            a.haspost.prenex(href="/posts/view/" + prePost.slug title="#{prePost.title}") 上一篇
          else
            a.nopost.prenex(href="#") 没有文章了
        li.next
          if (nextPost)
            a.haspost.prenex(href="/posts/view/" + nextPost.slug title="#{nextPost.title}") 下一篇
          else
            a.nopost.prenex(href="#") 没有文章了

  .post-comments
    if comments.length
      - var commentLength = comments.length + '个评论';
      .total-comments= commentLength
      #post-comments-list
        each comment, index in comments
          .post-comment-item(commentid=comment._id)
            .post-comment-author
              span.comm-author= comment.fromUser.nick
              span.comm-created= moment(comment.created).format('YYYY-MM-DD HH:mm')
            .post-comment-content(id=comment._id)
              textarea(style="display:none;")= comment.content
            //- p.post-comment-content= comment.content
            .comments-meta
              a.comment-unfold(href="javascript:void(0)") 展开
              a.comment-reply(href="javascript:void(0)") 回复
              a.com-unlike(href="javascript:void(0)", title="反对", id=comment._id+"against")
                i.fa.fa-thumbs-o-down
                span.comment-favourates
                  = comment.meta.against
              if isSupportUser[index]
                a.com-like(href="javascript:void(0)", title="取消支持", id=comment._id+"support", commentid=comment._id, supportid=supportId[index], issupport="true", supportcount=comment.meta.support)
                  i.fa.fa-thumbs-up(commentid=comment._id, supportid=supportId[index], issupport="true", supportcount=comment.meta.support)
                  span.comment-favourates(commentid=comment._id, supportid=supportId[index], issupport="true", supportcount=comment.meta.support)
                    = comment.meta.support
              else
                a.com-like(href="javascript:void(0)", title="支持", id=comment._id+"support", commentid=comment._id, supportid=supportId[index], issupport="false", supportcount=comment.meta.support)
                  i.fa.fa-thumbs-o-up(commentid=comment._id, supportid=supportId[index], issupport="false", supportcount=comment.meta.support)
                  span.comment-favourates(commentid=comment._id, supportid=supportId[index], issupport="false", supportcount=comment.meta.support)
                    = comment.meta.support
    else
      .total-comments 没有评论
      
    .total-comments#commentAnchorPoint 写一个评论
    != messages()
    
    form#commentform(action="/posts/comment/"+post.slug, method="post", enctype="application/x-www-form-urlencoded")
      p.comment-form-comment
        if user
          #form-comment-edit
            textarea(id="comment" name="comment" style="display:none;")
        else
          #form-comment-edit
            textarea(id="comment" name="comment" style="display:none;") 请登录后撰写评论！
      p.form-submit
        input(id="submit" type="submit" value="发布")

  p ╰❥ª.•° ✿ゞ .•°❤ ┈━═☆

block scripts
  script(src="/components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/components/editor.md/editormd.min.js")
  script(src="/components/editor.md/lib/marked.min.js")
  script(src="/components/editor.md/lib/prettify.min.js")
  script(src="/components/editor.md/lib/raphael.min.js")
  script(src="/components/editor.md/lib/underscore.min.js")
  script(src="/components/editor.md/lib/sequence-diagram.min.js")
  script(src="/components/editor.md/lib/flowchart.min.js")
  script(src="/components/editor.md/lib/jquery.flowchart.min.js")
  script(src="/js/controller/editshow.js")
  