extends layout

block content
  if (isCategory)
    h1.postsby
      span 类别：
        =post.category.name
  .post
    .post-info-meta
      .post-info
        span.post-author
          =post.author.nick
        span.post-created
          =moment(post.created).format('YYYY-MM-DD')
      .post-icons
        i.fa.fa-thumb-tack
    h3.post-title
      =post.title
    .post-abstract#my-editormd-view(style="padding-left: 6px;padding-right: 6px;")
      textarea#append-text(style="display:none;")= post.content
    .post-meta
        a.post-category(href="/category/" + post.category.slug)= post.category.name
        if isFavoUser
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaId, title="取消点赞")
            i.fa.fa-heart(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaId)
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="true", metaid=metaId)
              =post.meta.favorite
        else
          a.mts-like(href="javascript:void(0)", id=post._id, postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaId, title="点赞")
            i.fa.fa-heart-o(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaId)
            span.post-favourates(postId=post._id, favorite=post.meta.favorite, isfavorite="false", metaid=metaId)
              =post.meta.favorite
  nav(aria-label="Page navigation")
    ul.pager
      if (isCategory)
        li.previous
          if (prePost)
            a.haspost.prenex(href="/category/view/" + prePost.slug title="#{prePost.title}") 上一篇
          else
            a.nopost.prenex(href="#") 没有文章了
        li.next
          if (nextPost)
            a.haspost.prenex(href="/category/view/" + nextPost.slug title="#{nextPost.title}") 下一篇
          else
            a.nopost.prenex(href="#") 没有文章了
      else
        li.previous
          if (prePost)
            a.haspost.prenex(href="/posts/view/" + prePost.slug title="#{prePost.title}") 上一篇
          else
            a.nopost.prenex(href="#") 没有文章了
        li.next
          if (nextPost)
            a.haspost.prenex(href="/posts/view/" + nextPost.slug title="#{nextPost.title}") 下一篇
          else
            a.nopost.prenex(href="#") 没有文章了

  .post-comments(postid=post._id)
    if comments.length
      - var commentLength = comments.length + '个评论';
      .total-comments= commentLength
      #post-comments-list
        each comment, index in comments
          .post-comment-item(id=comment._id, commentid=comment._id, isreply="true", unfolded="false")
            .post-comment-author
              span.comm-author= comment.fromUser.nick
              span.comm-created= moment(comment.created).format('YYYY-MM-DD HH:mm')
            .post-comment-content(id=comment._id+"content")
              textarea(style="display:none;")= comment.content
            //- p.post-comment-content= comment.content
            .comments-meta(id=comment._id+"meta")
              a.comment-unfold(href="javascript:void(0)", commentid=comment._id)
                span(id=comment._id+"replytext", commentid=comment._id) 展开
                span(commentid=comment._id) (
                span(id=comment._id+"replycount", commentid=comment._id)= comment.reply.length
                span(commentid=comment._id) )
              a.comment-reply(href="javascript:void(0)", commentid=comment._id, id=comment._id+"huifutext") 回复
              if isAgainstUser[index]
                a.com-unlike(href="javascript:void(0)", title="取消反对", id=comment._id+"against", commentid=comment._id, againstid=againstId[index], isagainst="true", againstcount=comment.meta.against, ballot=ballot[index]+"")
                  i.fa.fa-thumbs-down(commentid=comment._id, againstid=againstId[index], isagainst="true", againstcount=comment.meta.against)
                  span.comment-favourates(commentid=comment._id, againstid=againstId[index], isagainst="true", againstcount=comment.meta.against)
                    = comment.meta.against
              else
                a.com-unlike(href="javascript:void(0)", title="反对", id=comment._id+"against", commentid=comment._id, againstid=againstId[index], isagainst="false", againstcount=comment.meta.against, ballot=ballot[index]+"")
                  i.fa.fa-thumbs-o-down(commentid=comment._id, againstid=againstId[index], isagainst="false", againstcount=comment.meta.against)
                  span.comment-favourates(commentid=comment._id, againstid=againstId[index], isagainst="false", againstcount=comment.meta.against)
                    = comment.meta.against
              if isSupportUser[index]
                a.com-like(href="javascript:void(0)", title="取消支持", id=comment._id+"support", commentid=comment._id, supportid=supportId[index], issupport="true", supportcount=comment.meta.support, ballot=ballot[index]+"")
                  i.fa.fa-thumbs-up(commentid=comment._id, supportid=supportId[index], issupport="true", supportcount=comment.meta.support)
                  span.comment-favourates(commentid=comment._id, supportid=supportId[index], issupport="true", supportcount=comment.meta.support)
                    = comment.meta.support
              else
                a.com-like(href="javascript:void(0)", title="支持", id=comment._id+"support", commentid=comment._id, supportid=supportId[index], issupport="false", supportcount=comment.meta.support, ballot=ballot[index]+"")
                  i.fa.fa-thumbs-o-up(commentid=comment._id, supportid=supportId[index], issupport="false", supportcount=comment.meta.support)
                  span.comment-favourates(commentid=comment._id, supportid=supportId[index], issupport="false", supportcount=comment.meta.support)
                    = comment.meta.support
            #replyloading(style="height:12px; margin-bottom: 0px;")
              .bodyspan(id=comment._id+"loading")
                span.l-1
                span.l-2
                span.l-3
                span.l-4
                span.l-5
                span.l-6
            .reply-comments(id=comment._id+"reply")
    else
      .total-comments 没有评论
      
    .total-comments#commentAnchorPoint 写一个评论
    != messages()
    #movecomment
      form#commentform(action="/posts/comment/"+post.slug, method="post", enctype="application/x-www-form-urlencoded")
        if user
          #form-comment-edit(style="margin-bottom: 0px;")
            textarea(id="commentcontent" name="comment" style="display:none;")
        else
          #form-comment-edit(style="margin-bottom: 0px;")
            textarea(id="commentcontent" name="comment" style="display:none;") ### 请登录后撰写评论！
        #submitloading(style="height:12px; margin-bottom: 0px;")
          .bodyspan
            span.l-1
            span.l-2
            span.l-3
            span.l-4
            span.l-5
            span.l-6
        input.form-submit(id="submit" type="submit" value="发布")

  p ╰❥ª.•° ✿ゞ .•°❤ ┈━═☆

block scripts
  script(src="/components/editor.md/editormd.min.js")
  script(src="/components/editor.md/lib/marked.min.js")
  script(src="/components/editor.md/lib/prettify.min.js")
  script(src="/components/editor.md/lib/raphael.min.js")
  script(src="/components/editor.md/lib/underscore.min.js")
  script(src="/components/editor.md/lib/sequence-diagram.min.js")
  script(src="/components/editor.md/lib/flowchart.min.js")
  script(src="/components/editor.md/lib/jquery.flowchart.min.js")
  script(src="/js/controller/editshow.js")
append css
  link(rel="stylesheet", href="/css/loading.css")
  